USE [master]
GO
/****** Object:  Database [4E5]    Script Date: 12/10/2013 7:04:31 PM ******/
CREATE DATABASE [4E5] ON  PRIMARY 
( NAME = N'4E5', FILENAME = N'E:\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\4E5.mdf' , SIZE = 575744KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'4E5_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\4E5_log.LDF' , SIZE = 1128576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [4E5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [4E5]
GO
/****** Object:  User [TPOWEB_USER]    Script Date: 12/10/2013 7:04:32 PM ******/
CREATE USER [TPOWEB_USER] FOR LOGIN [TPOWEB_USER] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [tpo]    Script Date: 12/10/2013 7:04:32 PM ******/
CREATE USER [tpo] FOR LOGIN [tpo] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [rudin_db_user2]    Script Date: 12/10/2013 7:04:32 PM ******/
CREATE USER [rudin_db_user2] FOR LOGIN [rudin_db_user2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [ANDERSON\ashwath]    Script Date: 12/10/2013 7:04:32 PM ******/
CREATE USER [ANDERSON\ashwath] FOR LOGIN [ANDERSON\ashwath] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [TPOWEB_USER]
GO
ALTER ROLE [db_datareader] ADD MEMBER [tpo]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [tpo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [rudin_db_user2]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [rudin_db_user2]
GO
ALTER ROLE [db_owner] ADD MEMBER [ANDERSON\ashwath]
GO
/****** Object:  Table [dbo].[4E5---------000ACS---TURINC---IN001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000ACS---TURINC---IN001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000ACS---TUROUT---OUT001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000ACS---TUROUT---OUT001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000SECCNTPEOBUI---INC001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000SECCNTPEOBUI---INC001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000SECCNTPEOBUI---OUT001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000SECCNTPEOBUI---OUT001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000SECCNTPEOBUI---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000SECCNTPEOBUI---VAL001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000SECELEMETTOT---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000SECELEMETTOT---VAL001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORELECON001---001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORELECON001---001](
	[Run_DateTime] [datetime] NOT NULL,
	[Prediction_DateTime] [datetime] NOT NULL,
	[Prediction_Value] [float] NULL,
	[Lower_Bound_95] [float] NULL,
	[Upper_Bound_95] [float] NULL,
	[Lower_Bound_68] [float] NULL,
	[Upper_Bound_68] [float] NULL,
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Run_DateTime] ASC,
	[Prediction_DateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORELECON001---001_RBF_Params]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORELECON001---001_RBF_Params](
	[Run_DateTime] [datetime] NOT NULL,
	[Hour] [smallint] NOT NULL,
	[c] [float] NOT NULL,
	[gamma] [float] NOT NULL,
	[avg_error] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Run_DateTime] ASC,
	[Hour] ASC,
	[c] ASC,
	[gamma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORELECON001---001_stats]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORELECON001---001_stats](
	[Prediction_Date] [datetime] NOT NULL,
	[RMSE] [float] NOT NULL,
	[MAE] [float] NOT NULL,
	[MAPE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Prediction_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORELETEC001---001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORELETEC001---001](
	[Run_DateTime] [datetime] NOT NULL,
	[Prediction_DateTime] [datetime] NOT NULL,
	[Prediction_Value] [float] NULL,
	[Lower_Bound_95] [float] NULL,
	[Upper_Bound_95] [float] NULL,
	[Lower_Bound_68] [float] NULL,
	[Upper_Bound_68] [float] NULL,
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Run_DateTime] ASC,
	[Prediction_DateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORELETEC001---001_RBF_Params]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORELETEC001---001_RBF_Params](
	[Run_DateTime] [datetime] NOT NULL,
	[Hour] [smallint] NOT NULL,
	[c] [float] NOT NULL,
	[gamma] [float] NOT NULL,
	[avg_error] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Run_DateTime] ASC,
	[Hour] ASC,
	[c] ASC,
	[gamma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORELETEC001---001_stats]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORELETEC001---001_stats](
	[Prediction_Date] [datetime] NOT NULL,
	[RMSE] [float] NOT NULL,
	[MAE] [float] NOT NULL,
	[MAPE] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Prediction_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORELETEC001---001_Tenant_load]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORELETEC001---001_Tenant_load](
	[Timestamp] [datetime] NOT NULL,
	[Usage_kW] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORPEOBUI001---001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORPEOBUI001---001](
	[Run_DateTime] [datetime] NOT NULL,
	[Prediction_DateTime] [datetime] NOT NULL,
	[Prediction_Value] [float] NULL,
	[Lower_Bound_95] [float] NULL,
	[Upper_Bound_95] [float] NULL,
	[Lower_Bound_68] [float] NULL,
	[Upper_Bound_68] [float] NULL,
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Run_DateTime] ASC,
	[Prediction_DateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORPEOBUI001---001_RBF_Params]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORPEOBUI001---001_RBF_Params](
	[Run_DateTime] [datetime] NOT NULL,
	[Hour] [smallint] NOT NULL,
	[c] [float] NOT NULL,
	[gamma] [float] NOT NULL,
	[avg_error] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Run_DateTime] ASC,
	[Hour] ASC,
	[c] ASC,
	[gamma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORPEOBUI001---001_Stats]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORPEOBUI001---001_Stats](
	[Prediction_Date] [datetime] NOT NULL,
	[RMSE] [float] NOT NULL,
	[MAE] [float] NOT NULL,
	[MAPE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Prediction_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORSTECON001---001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORSTECON001---001](
	[Run_DateTime] [datetime] NOT NULL,
	[Prediction_DateTime] [datetime] NOT NULL,
	[Prediction_Value] [float] NULL,
	[Lower_Bound_95] [float] NULL,
	[Upper_Bound_95] [float] NULL,
	[Lower_Bound_68] [float] NULL,
	[Upper_Bound_68] [float] NULL,
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Run_DateTime] ASC,
	[Prediction_DateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORSTECON001---001_RBF_Params]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORSTECON001---001_RBF_Params](
	[Run_DateTime] [datetime] NOT NULL,
	[Hour] [smallint] NOT NULL,
	[c] [float] NOT NULL,
	[gamma] [float] NOT NULL,
	[avg_error] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Run_DateTime] ASC,
	[Hour] ASC,
	[c] ASC,
	[gamma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORSTECON001---001_Stats]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORSTECON001---001_Stats](
	[Prediction_Date] [datetime] NOT NULL,
	[RMSE] [float] NOT NULL,
	[MAE] [float] NOT NULL,
	[MAPE] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Prediction_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORTEMSPA001---001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORTEMSPA001---001](
	[Run_DateTime] [datetime] NOT NULL,
	[Prediction_DateTime] [datetime] NOT NULL,
	[Floor] [nvarchar](20) NOT NULL,
	[Quadrant] [nvarchar](20) NOT NULL,
	[Prediction_Value] [float] NULL,
	[Lower_Bound_95] [float] NULL,
	[Upper_Bound_95] [float] NULL,
	[Lower_Bound_68] [float] NULL,
	[Upper_Bound_68] [float] NULL,
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Run_DateTime] ASC,
	[Prediction_DateTime] ASC,
	[Floor] ASC,
	[Quadrant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORTEMSPA001---001_Deltas]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORTEMSPA001---001_Deltas](
	[Timestamp] [datetime] NOT NULL,
	[Floor] [nvarchar](20) NOT NULL,
	[Quadrant] [nvarchar](20) NOT NULL,
	[Predicted_Delta] [float] NULL,
	[Actual_Delta] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Timestamp] ASC,
	[Floor] ASC,
	[Quadrant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORTEMSPA001---001_Derivative]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORTEMSPA001---001_Derivative](
	[Run_DateTime] [datetime] NOT NULL,
	[Prediction_DateTime] [datetime] NOT NULL,
	[Floor] [nvarchar](20) NOT NULL,
	[Quadrant] [nvarchar](20) NOT NULL,
	[Predicted_Slope] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Run_DateTime] ASC,
	[Prediction_DateTime] ASC,
	[Floor] ASC,
	[Quadrant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORTEMSPA001---001_RBF_Params]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORTEMSPA001---001_RBF_Params](
	[Run_DateTime] [datetime] NOT NULL,
	[Floor] [nvarchar](20) NOT NULL,
	[Quadrant] [nvarchar](20) NOT NULL,
	[Hour] [smallint] NOT NULL,
	[c] [float] NOT NULL,
	[gamma] [float] NOT NULL,
	[avg_error] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Run_DateTime] ASC,
	[Hour] ASC,
	[Floor] ASC,
	[Quadrant] ASC,
	[c] ASC,
	[gamma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOFORTEMSPA001---001_Stats]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOFORTEMSPA001---001_Stats](
	[Prediction_Date] [datetime] NOT NULL,
	[Floor] [nvarchar](20) NOT NULL,
	[Quadrant] [nvarchar](20) NOT NULL,
	[RMSE] [float] NOT NULL,
	[MAE] [float] NOT NULL,
	[MAPE] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPONOWTEMSPA001---001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPONOWTEMSPA001---001](
	[Run_DateTime] [datetime] NULL,
	[Prediction_DateTime] [datetime] NULL,
	[Value] [real] NULL,
	[Floor] [nchar](3) NULL,
	[Quadrant] [nchar](3) NULL,
	[Prediction_TimeStep] [datetime] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Control_Setting] [float] NULL,
 CONSTRAINT [PK_4E5---------003TPONOWTEMSPA001---001] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOOPTTEMRDW001---001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOOPTTEMRDW001---001](
	[Run_DateTime] [datetime] NULL,
	[Prediction_DateTime] [datetime] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_4E5---------003TPOOPTTEMRDW001---001] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------000TPOOPTTEMUPT001---001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------000TPOOPTTEMUPT001---001](
	[Run_DateTime] [datetime] NULL,
	[Prediction_DateTime] [datetime] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_4E5---------003TPOOPTTEMUPT001---001] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMS---ALABMS---ALA001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[4E5---------003BMS---ALABMS---ALA001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[4E5---------003BMSELEMETTEC---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSELEMETTEC---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSELEMET------VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSELEMET------VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVACDWOTE---STP001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVACDWOTE---STP001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVACDWRAT---STP001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVACDWRAT---STP001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVACDWSAT---STP001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVACDWSAT---STP001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVACDW------VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVACDW------VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVA---CO2---STP001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVA---CO2---STP001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVA---CO2---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVA---CO2---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVAIDAECO---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVAIDAECO---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVAIDAOTE---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVAIDAOTE---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVAIDARET---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVAIDARET---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVAIDASPI---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVAIDASPI---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVAMCT------VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVAMCT------VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVAOWRMIN---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVAOWRMIN---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVAOWRSCH---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVAOWRSCH---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVARFARAT---STP001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVARFARAT---STP001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVARFARAT---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVARFARAT---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVARFA------VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVARFA------VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVARFAVFD---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVARFAVFD---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVARFAVIV---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVARFAVIV---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVASFACMD---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVASFACMD---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVASFASAT---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVASFASAT---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVASFASAT---VAL002]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVASFASAT---VAL002](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVASFAVFD---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVASFAVFD---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVASFAVIV---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVASFAVIV---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVATEMSPA---STP001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVATEMSPA---STP001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVATEMSPA---STP002]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVATEMSPA---STP002](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVATEMSPA---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVATEMSPA---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVAWEAHUM---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVAWEAHUM---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSHVAWEATEM---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSHVAWEATEM---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSSTEMET------VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSSTEMET------VAL001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSWATCHIHUM---SPD001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSWATCHIHUM---SPD001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSWATCHIHUM---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSWATCHIHUM---VAL001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSWATCHIRET---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSWATCHIRET---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSWATCHISUP---STP001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSWATCHISUP---STP001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSWATCHISUP---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSWATCHISUP---VAL001](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSWATHOTPUM---SPD001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSWATHOTPUM---SPD001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSWATHOTPUM---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSWATHOTPUM---VAL001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSWATHOTRET---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSWATHOTRET---VAL001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[4E5---------003BMSWATHOTSUP---VAL001]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[4E5---------003BMSWATHOTSUP---VAL001](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZONE] [nchar](3) NULL,
	[FLOOR] [nchar](3) NULL,
	[QUADRANT] [nchar](3) NULL,
	[EQUIPMENT_NO] [nchar](3) NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ramp_Down_Time_DS]    Script Date: 12/10/2013 7:04:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ramp_Down_Time_DS](
	[ID] [int] NOT NULL,
	[TIMESTAMP] [datetime] NULL,
	[VALUE] [int] NULL,
 CONSTRAINT [PK_Ramp_Down_Time_DS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
